@model AppWeb5.Models.ViewModels.PersonasViewModel
@{
    ViewBag.Title = "Nuevo registro";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Editar", "Personas", FormMethod.Post))
{
    
<div class="row">
    @*<h4>    PersonasViewModel</h4>*@
    <div class="col-md-12">
        @Html.HiddenFor(d => d.id)
        @*<div>
            @Html.LabelFor(d => d.id)
            @Html.TextBoxFor(d => d.id, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.id, null, new { @class = "alert" })
        </div>*@
        <div>
            @Html.LabelFor(d => d.nombre)
            @Html.TextBoxFor(d => d.nombre, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.nombre, null, new { @class = "alert" })
        </div>
        <div>
            @Html.LabelFor(d => d.Ap_Pat)
            @Html.TextBoxFor(d => d.Ap_Pat, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Ap_Pat, null, new { @class = "alert" })
        </div>
        <div>
            @Html.LabelFor(d => d.Ap_Mat)
            @Html.TextBoxFor(d => d.Ap_Mat, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Ap_Mat, null, new { @class = "alert" })
        </div>
        <div>
            @Html.LabelFor(d => d.Edad)
            @Html.TextBoxFor(d => d.Edad, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Edad, null, new { @class = "alert" })
        </div>
        <div>
            @Html.LabelFor(d => d.Activo)
            @Html.TextBoxFor(d => d.Activo, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Activo, null, new { @class = "alert" })
        </div>
        @*<div>
            @Html.LabelFor(d => d.Create_at)
            @Html.TextBoxFor(d => d.Create_at, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Create_at, null, new { @class = "alert" })
        </div>
        <div>
            @Html.LabelFor(d => d.Update_at)
            @Html.TextBoxFor(d => d.Update_at, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Update_at, null, new { @class = "alert" })
        </div>*@
    <div class="col-md-offset-2 col-md-10">
        <input value="Guardar" class="btn btn-primary" type="submit" />
    </div>

    </div>

</div>
}